@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200;300;400;500;600&display=swap');

* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html, body {
	font-family: Unbounded, cursive;
  color: #242424;
	height: 100%;
	background-color: #f8f8f8;
}

p, ul {
	font-size: 1em;
	font-weight: 300;
	letter-spacing: .4px;
	line-height: 1.8em;
	color: #6f6f6f;
	padding: 5px 0px;
}

ul {
  padding: 7px 0px 0px 40px;
}

h1 {
	font-size: 2em;;
  font-weight: 400;
}

h2, h3 {
	font-size: 1.3em;
  margin: 10px 0px;
  font-weight: 400;
  color: #242424;
}

h4 {
  font-weight: 400;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    max-width: 940px;
    padding: 0px 20px;
    margin: 0 auto;
}

main {
    flex: 1 1 auto;
}

header {
    border-bottom: 2px solid red;
    padding: 10px 0px 10px 0px;
    margin: 20px 0px;
    letter-spacing: .4px;
    
}

header a {
  color: #242424;
  text-decoration: none;
  margin-right: 30px;
  transition-duration: .5s;
}

header a:hover {
    color: red;
  }

header a.active {
    color: red;
  }

section {
	margin: 15px 0px;
}

footer {
	padding: 17px 0px;
}
